h1, h2 {
	text-align: center;

}

table {
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto 0;
}

table tr td {
	width: 24px;
	height: 24px;
	background-color: rgba(0, 0, 0, .1);
}

tr {
	margin: auto 0;
}

td {
	border-radius: 50%;
}

.firstColumn {
	background-color: white;
}

.lastColumn {
	background-color: white;
}

#start {
	background-color: green;
}

#finish {
	background-color: black;
}

/*look up a different way to keep the hover on.....maybe transform?
 but it needs to change to green so it can be communicated to js
 so that it turned green to add 1 to the empty sum 
 NEEDS TO COUNT SO PLAYER CAN REACH MIN GRN TILES TO ACHEIVE VICTORY*/
/*.correctPath {
	-webkit-transition: 100s;
}*/


/*i think you need to have a webkit in both the hover and not hover for the transition to work*/
/*.correctPath:hover {
	background-color: green;
	-webkit-transition: .01s;
}*/

.hover {
	background-color: green;
}

.warning {
	-webkit-transition: 4s;
}

.warning:hover {
	background-color: red;
	-webkit-transition: .01s;
}