h1, h2 {
	text-align: center;
}

table {
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto 0;
	border: 3px solid black;
	border-collapse: collapse;
}

table tr td {
	width: 28px;
	height: 28px;
}

tr {
	margin: auto 0;
}

td {
	/*background-image: url('dirt.png');*/
	/*background-color: rgba(73, 38, 8, .9);*/
	background-color: rgba(0,0,0, .9);
}

ol {
	width: 400px;
  	height: 50px;
  	margin: 0 auto;
  	border: 2px solid black;
  	padding: 12px;
	/*display: inline-block;*/
	line-height: 10px;
	font-size: 12px;
	text-align: center;

	margin-bottom: 5px;
}

li {
	list-style: none;
}

footer {
	text-align: center;
	padding-top: 30px;
	margin-bottom: 30px;
}

#stopwatch {
	width: 75px;
	height: 50px;
	margin: 0 auto;
	border: 2px solid black;
	padding: 12px;
	/*display: inline-block;*/
	line-height: 50px;
	font-size: 45px;
	text-align: center;

	margin-bottom: 5px;
}

.firstColumn {
	background-color: white;
}

.lastColumn {
	background-color: white;
}


#finish {
	background-image: url('zelda.png');
	background-color: white;
}

/*FOR TESTING this makes it so the path is always visible */
.correctPath {
	background-image: url('road.png');
}

.warning {
	background-image: url('trees2.png');
	background-color: rgba(73, 38, 8, 1);
}
/*--------------------------------------------------------*/
.correctPathHover {
	background-image: url('road.png');
}

.warningHover {
	background-image: url('trees2.png');
	background-color: rgba(73, 38, 8, 1);
}

.slingshot {
	background-image: url('slingshot.png');
	background-repeat: no-repeat;
	background-color: rgba(70, 35, 10, 1);
}

.shield {
	background-image: url('Deku_Shield.png');
	background-repeat: no-repeat;
	background-color: rgba(70, 35, 10, 1);
}

.sword {
	background-image: url('Kokiri_Sword.png');
	background-repeat: no-repeat;
	background-color: rgba(70, 35, 10, 1);
}